@media print {
    @page :first {
        /* margin: 0 !important; */
        /* background-color: red; */
        margin-top: 0cm;
        margin-bottom: 0cm;
        margin-right: 0cm;
        margin-left: 0cm;
        /* height: 100vh; */
    }

    @page {
        width: 210mm;
        scale: 0.8;
        /* size: A4; */
        /* width: 210mm; */
        /* height: 297mm; */
        /* margin: 1cm; */
        /* margin-right: 0cm; */
        /* margin-left: 0cm; */
        /* margin-top: 2cm; */
        /* margin-bottom: 1cm; */
        /* width: 210cm !important; */
    }

    /** Estilos generales */

    html,
    body {
        /* background-color: green; */
        background-color: gold;
        width: 210mm;

        /* size: A4; */
        /* margin: 0; */
        /* background-color: #0f0f0f; */
        /* padding-top: 5mm; */
        /* padding-bottom: 5mm; */
        /* scale: 0.45; */
        /* font-size: 12px !important; */
    }

    .printable-hide {
        display: none !important;
        /* background-color: gold; */
    }

    .avoid-page-break {
        break-inside: avoid !important;
        -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
        page-break-inside: avoid; /* Firefox */
        break-inside: avoid; /* IE 10+ */
        /* background-color: greenyellow; */
    }

    .new-page-break {
        page-break-before: always;
    }

    /** Header */

    #home header {
        height: 100vh;
        /* background-color: rebeccapurple; */
    }

    #home header .banner-text h1 {
        font: 90px "opensans-bold", sans-serif;
    }

    #home .banner-text h3 {
        font: 18px "librebaskerville-regular", serif;
    }
    #testimonials blockquote p {
        font-size: calc(24px * 2 / 3);
        /* background-color: green; */
    }
    #testimonials blockquote cite {
        font-size: calc(12px * 2 / 3);
        /* background-color: red; */
    }
    #contact h1:before {
        font-size: calc(72px * 2 / 3);
    }
}
