@media print {
    @page {
        size: A4;
    }

    html,
    body {
        width: 210mm;
        height: 297mm;
        size: A4;
        margin: 30mm 0;
        background-color: #0f0f0f;
    }

    .printable-hide {
        display: none;
    }

    #home header {
        background-color: #095153;
        height: 100vh;
    }

    .avoid-page-break {
        break-inside: avoid;
        background-color: greenyellow;
    }

    .new-page-break {
        page-break-before: always;
        background-color: rebeccapurple;
    }
}
